<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Quantum Technology{% endblock %}</title>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	{{ include('SplicedCommerceBundle:Layouts/Blocks:stylesheets.html.twig') }}
	{% block head %}{% endblock %}
</head>
<body>
</body>
</html>
