{% set flashTypes = {
    'cart_error' : 'alert-danger', 
    'cart_success' : 'alert-success',
    'cart_info' : 'alert-info',
    'cart_warning' : 'alert-warning'
} %}

{% for flashType,class in flashTypes %}
    {% if app.session.flashBag.has(flashType) %}
        {% for message in app.session.flashBag.get(flashType) %}
        <div class="main-alert alert {{ class }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message|raw }}
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}
