{% if items|length %}
	{% for item in items %}
		<div class="row">
			<div class="span2">
			    {% if item.product.images is defined %}
				<img src="{{ commerce_resize_product_image(item.product.images.first, 100, 60) }}" alt="" class="img-rounded" />
				{% endif %}
			</div>
			<div class="span10">
				{{ item.product.name }}
			</div>
		</div>
	{% endfor %}
{% else %}
	Nothing in cart
{% endif %}
<button class="btn btn-small btn-primary" id="closeTopCart">Minimize</button>
