{% block textarea_widget %}
<div id="ace-editor-wrapper">
    <div class="ace-editor-toolbar">
        <div class="pull-right">
            <a href="javascript:;" ace-action="toggle-nothing" class="btn btn-sm btn-primary" title="Switch Page">Switch Page <i class="fa fa-caret-square-o-down"></i></a>
            <a href="javascript:;" ace-action="toggle-fullscreen" class="btn btn-sm btn-primary" title="Full Screen">Go Fullscreen <i class="fa fa-square"></i></a>
            <div id="ace-editor-status-bar-wrapper">
                <div id="ace-editor-status-bar"></div>
            </div>
        </div>
        <div class="btn-group">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-placement="bottom" title="Switch Editor Theme">
                <i class="fa fa-paint-brush icon-white"></i>
            </a>
            <ul role="menu" class="dropdown-menu ace-editor-themes">
                <li class="dropdown-menu-header">
                    Switch Theme
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary" type="button">Go!</button>
                      </span>
                    </div>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
        <div class="btn-group">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-placement="bottom" title="Switch Editor Mode">
                <i class="fa fa-code icon-white"></i>
            </a>
            <ul role="menu" class="dropdown-menu ace-editor-modes">
                <li class="dropdown-menu-header">Switch Mode
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary" type="button">Go!</button>
                      </span>
                    </div>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
        <div class="btn-group">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-placement="bottom" title="Insert a Content Block">
                <i class="fa fa-stop icon-white"></i>
            </a>
            <ul role="menu" class="dropdown-menu content-block-list">
                <li class="dropdown-menu-header">Insert Content Block</li>
                <li class="divider"></li>
            </ul>
        </div>
        <div class="btn-group">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-placement="bottom" title="Insert a Menu">
                <i class="fa fa-list icon-white"></i>
            </a>
            <ul role="menu" class="dropdown-menu menu-list">
                <li class="dropdown-menu-header">Insert Menu</li>
                <li class="divider"></li>
            </ul>
        </div>
        <a href="javascript:;" ace-action="insert-link" data-toggle="tooltip"  ace-action="insert-link" data-placement="bottom" title="Insert a Link"><i class="fa fa-link icon-white"></i></a>
        <a href="javascript:;" ace-action="insert-image" data-toggle="tooltip"  ace-action="insert-image" data-placement="bottom" title="Insert an Image"><i class="fa fa-image icon-white"></i></a>
        <a href="javascript:;" ace-action="insert-video" data-toggle="tooltip" ace-action="insert-youtube-embed" data-placement="bottom" title="Insert a Video Embed"><i class="fa fa-video-camera icon-white"></i></a>
    </div>
    <div id="{{ id }}_ace" class="ace_editor">{{ form.vars.data|e }}</div>
    <input type="hidden" {{ block('widget_attributes') }} value="{{ form.vars.data|e }}" />
    <div class="ace-editor-footer-bar">
        <div class="text-right">
            <a href="javascript:;" data-toggle="tooltip" data-placement="left" title="Create Gist on GitHub"><i class="fa fa-github-alt icon-white"></i></a>
            <a href="javascript:;" ace-action="show-settings" data-toggle="tooltip" data-placement="left" title="Editor Settings"><i class="fa fa-cog icon-white"></i></a>
        </div>
    </div>
</div>
{% endblock textarea_widget %}