<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Catalog</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affiliates <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('commerce_admin_affiliate') }}">Manage Affiliates</a></li>
          <li role="presentation" class="divider"></li>
          <li><a href="{{ path('commerce_admin_affiliate_new') }}"> New Affiliate</a></li>
        </ul>
      </li>
      
    </ul>
    
    {% if product is defined %}
    <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
             
            
          </li> 
      </ul>
    {% else %}
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Affiliate ID or Name">
          </div>
          <button type="submit" class="btn btn-default">Go</button>
        </form>
    {% endif %}
    
  </div><!-- /.navbar-collapse -->
</nav>