{#
	Category/Block/menu.html.twig
	@package SplicedCommerceBundle
	@author Gassan Idriss - ghassani@splicedmedia.com

	@var categories
#}
<ul class="category-menu parent">
	{% for category in categories %}
		<li class="level0"><a href="{{  path('commerce_category_view_by_slug', { 'slug' : category.urlSlug}) }}">{{ category.name }}</a></li>
	{% endfor %}
</ul>
