<div class="row">
    <div class="col-xs-12 col-lg-12">
        {{ form_row(form.variableName, { 'form_group' : 'form-group-sm' }) }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        {{ form_row(form.projects, { 'form_group' : 'form-group-sm'  }) }}
    </div>
</div>