<ul class="list-unstyled">

    <li><strong>Variable Name</strong>: {{ templateExtension.settings.variableName }}</li>
    <li><strong>Project IDs</strong>: {{ templateExtension.settings.projects }}</li>

</ul>