<div id="project-staff-wrapper">
    <div class="page-header">
        <div class="pull-right">
            <a href="javascript:;" class="btn btn-sm btn-primary project-staff-new" id="project-staff-new"><i class="fa fa-plus"></i> Add Staff</a>
        </div>
        <h2>Staff</h2>
    </div>

    <table class="table table-bordered table-striped" id="project-staff-table">
        <thead>
        <tr>
            <th>Member</th>
            <th>Position</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        {% if project.staff|length %}
            {% for projectStaff in project.staff %}
                <tr id="project-staff-{{ projectStaff.id }}">
                    <td>{{ projectStaff.staff.displayName }}</td>
                    <td>{{ projectStaff.position }}</td>
                    <td><a href="javascript:;" class="project-staff-delete" data-id="{{ projectStaff.id }}"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="no-result">
                <td colspan="3" class="text-center"><strong>No Staff</strong></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
