{% extends 'SplicedAdminThemeBundle:Layout:default.html.twig' %}

{% block title %}- Attribute List{% endblock %}

{% block content %}
<div class="page-header">
    <h4>Attributes</h4>
</div>

<div class="well">Attributes allow us to dynamically allocate various data for projects, clients, and other entities.</div>
    <ul class="list-unstyled">
        <li><a href="#" class="btn btn-success btn-spanfull" title="Create a Attribute"><i class="fa fa-plus"></i>Create a Attribute</a></li>
    </ul>
</div>


    <table class="table table-striped table-hover table-bordered spliced-admin-list">
        <thead>
        <th><input type="checkbox" class="check-all" /></th>
        <th>Client</th>
        <th>Name</th>
        <th></th>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% if pagination.getTotalItemCount > 0 %}
            {% for attribute in pagination %}
                <tr>
                    <td><input type="checkbox" name="ids[]" value="{{ attribute.id }}" /></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="no-result">
                <td colspan="3" class="text-center"><strong>No Attributes Found</strong></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock content %}