<div class="block-base">
        <h3 class="block-head">Social Media</h3>
        <div class="block-content">
            <p>In addition to signing up for our newsletter to receive email 
            updates and promotions, you can also follow us on one of the many 
            social media platforms available:</p>
            <div class="text-center">

	        </div>
        </div>
    </div>
  