<div class="block-base">
        <h3 class="block-head">Subscribing</h3>
        <div class="block-content">
           <p>Subscribing to our newsletter will notify you first of upcomming specials and promotions. It will
                also keep you up to date with changes and updates to our website. Check out our <a href="{{ path('commerce_newsletter_subscribe') }}">subscription page to sign up</a>. Its free, of course!</p>
        </div>
    </div>
    
    