<div class="block-base">
        <h3 class="block-head">Unsubscribing</h3>
        <div class="block-content">
            <p>If you have previously signed up for our newsletter and wish
            to unsubscribe from it, please visit our <a href="{{ path('commerce_newsletter_unsubscribe') }}">newsletter unsubscription page</a>.</p>
        </div>

    </div>