{% block weight_widget %}
<div class="form-group">
	<div class="col-sm-8 col-lg-8">
	{{ form_widget(form.weight, { 'attr' : { 'class' : 'form-control '~(form.vars.attr.class is defined ? form.vars.attr.class : '') } }) }}
	</div>
	<div class="col-sm-4 col-lg-4">
	{{ form_widget(form.unit, { 'attr' : { 'class' : 'form-control '~(form.vars.attr.class is defined ? form.vars.attr.class : '') } }) }}
	</div>
</div>
{% endblock weight_widget %}
