{% block form_rows %}
	{% for child in form %}
		<div class="control-group">
		{{ form_label(child, '', {'attr' : {'class' : 'control-label'}}) }}
			<div class="controls controls-row">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"></i></span>
					{{ form_widget(child, {'attr' : {'class' : ''}}) }}
					<span class="help-inline"></span>
				</div>
				{{ form_errors(child) }}
			</div>
		</div>
	{% endfor %}

{% endblock %}
