<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a tabindex="-1" href="#tab-overview" aria-controls="tab-overview" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation">
        <a id="invoicing-menu-toggle" data-toggle="collapse" href="#invoicing-menu" aria-expanded="false" aria-controls="invoicing-menu-toggle">Invoicing</a>
        <ul class="nav nav-child nav-pills nav-stacked collapse in" id="invoicing-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-invoices" aria-controls="tab-invoices" role="tab" data-toggle="tab">View Invoices</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-time-entries" aria-controls="tab-time-entries" role="tab" data-toggle="tab">Time Entries</a></li>
        </ul>
    </li>
    <li role="presentation">
        <a id="data-management-menu-toggle" data-toggle="collapse" href="#data-management-menu" aria-expanded="false" aria-controls="data-management-menu-toggle">Data Management</a>
        <ul class="nav nav-child nav-pills nav-stacked collapse in" id="data-management-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-settings" aria-controls="tab-settings" role="tab" data-toggle="tab">Settings</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-attributes" aria-controls="tab-attributes" role="tab" data-toggle="tab">Attributes</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-staff" aria-controls="tab-staff" role="tab" data-toggle="tab">Staff</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-media" aria-controls="tab-media" role="tab" data-toggle="tab">Media</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-files" aria-controls="tab-files" role="tab" data-toggle="tab">Files</a></li>
        </ul>
    </li>
    <li role="presentation">
        <a id="commcenter-menu-toggle" data-toggle="collapse" href="#commcenter-menu" aria-expanded="false" aria-controls="commcenter-menu-toggle">CommCenter</a>
        <ul class="nav nav-child nav-pills nav-stacked collapse in" id="commcenter-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-notes" aria-controls="tab-notes" role="tab" data-toggle="tab">Notes</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tab-overview" aria-controls="tab-overview" role="tab" data-toggle="tab">Email Client</a></li>
        </ul>
    </li>
    <li role="presentation">
        <a id="site-settings-menu-toggle" data-toggle="collapse" href="#site-settings-menu" aria-expanded="false" aria-controls="site-settings-menu-toggle">Site Settings &amp; Layouts</a>
        <ul class="nav nav-child nav-pills nav-stacked collapse in" id="site-settings-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" tabindex="-1" href="#tab-overview" aria-controls="tab-overview" role="tab" data-toggle="tab">Active Sites</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" tabindex="-1" href="#tab-overview" aria-controls="tab-overview" role="tab" data-toggle="tab">Site Layouts</a></li>
        </ul>
    </li>
    <li role="presentation">
        <a id="danger-zone-menu-toggle" data-toggle="collapse" href="#danger-zone-menu" aria-expanded="false" aria-controls="danger-zone-menu-toggle">Danger Zone</a>
        <ul class="nav nav-child nav-pills nav-stacked collapse" id="danger-zone-menu">
            <li role="presentation" class="danger"><a role="menuitem" tabindex="-1" href="#">Delete Project</a></li>
        </ul>
    </li>
</ul>