<form method="post" action="{{ path('spliced_pms_project_update', { 'id' : project.id }) }}" class="" id="project-form">
    {% include 'SplicedProjectManagerBundle:Admin/Project:form.html.twig' with { 'form' : form, 'project' : project } %}
    <div class="form_actions">
        <button type="submit" class="btn btn-success"><i class="icon-upload icon-white"></i> Update Details</buton>
    </div>
</form>