{% block form_row %}
{% spaceless %}
	<div class="form-group">
	    {{ form_widget(form, { 'attr' : { 'class' : 'form-control' } }) }}
		{{ form_errors(form) }}
	</div>
{% endspaceless %}
{% endblock form_row %}