{% block form_rows %}
	{% for child in form %}
	<div class="controls controls-row">
		{{ form_widget(child, {'attr':{'class':'input-block-level'}}) }}
		{{ form_errors(child) }}
	</div>
	{% endfor %}
{% endblock %}
